style.css

body{
    background-color: lightseagreen;
}

.navbar{
    max-height: 30px;
    background-color: lightslategray;
    font-size: 15px;
}

.navigation .navbar-brand{
    color:white;
    margin-left: 40px;
    padding:inherit;
    font-weight:bold;
    background-color: lightsteelblue;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.dropdown-item{
    color:royalblue
}
.dropdown-menu.dropdown-item:hover,dropdown-menu.dropdown-item:active{
    background-color: yellow;
}
nav-link:hover{
    background-color: tomato;
}